body {
  background-image: url('covid19.jpg');
  background-size: cover;
}

div {
  background-color: transparent;
  color: steelblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color:steelblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.well {
  color: steelblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: xxx-large;
  color: white
}

style
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

