body {
  background-image: url('covid19.jpg');
  background-size: cover;
}

div {
  background-color: transparent;
  color: steelblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color:steelblue ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}